<header class='page-header'>
<h1>Dashboard</h1>
</header>

<div class="panel panel-primary">
 <div class="panel-heading">
   <h4> Total Number of Products</h4>
  </div>
  <div class="panel-body">
 <h5> <%= @products %></h5>
 <br>
<%= link_to 'Products', admin_products_path %>
  </div>
</div>
<div class="panel panel-primary">
 <div class="panel-heading">
   <h4> Total Number of Categories </h4>
  </div>
  <div class="panel-body">
  <h5><%= @categories %></h5>
  <br>
  <%= link_to 'Categories', admin_categories_path %>
  </div>
</div>


